body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141515;
}



.container {
    display: flex;
    align-items: start;  /* Align items to the top */
    gap: 100px;  /* Margin between the image and text content */
}

.about-image {
    width: 500px ;  /* Ensure the image scales nicely */
    height: 500px;
      /* Keep the original aspect ratio */
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 44px;  /* Margin between each text element */
}

.about-heading {
    margin: 0;
    margin-top: 65px;
    color: #BEFF54;
    font-family: Manrope, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
}

.textbox {
    width: 782px;
    margin: 0;
    width: 782px;
    color: #FBFBFB;
    font-family: Manrope, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px;
}

.textbox2 {
    width: 617px;
    margin: 0;
    width: 617px;
    color: #5A5F62;
    font-family: Manrope, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}





.values-container-wrapper {
    border-top: 1px solid #5A5F62;
    border-bottom: 1px solid #5A5F62;
    padding: 70px 0;  
    background-color: #1E1E1E;
    display: flex;
    justify-content: space-between;
    max-width: 1250px;  
    margin: 0 auto;
}

.left-section-container { /* Создан новый класс для контейнера слева */
    flex: 1.5; /* Увеличено значение flex для большего пространства слева */
    padding-right: 50px;
    display: flex; 
    align-items: center; /* Чтобы содержимое было по центру */
}

.values-header {
    color: #BEFF54;
    font-size: 58px;  
    font-weight: 600;
    line-height: 62px;  
    text-transform: uppercase;
    margin-bottom: 25px;
}

.values-description {
    color: #5A5F62;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;  
    margin-bottom: 55px;  
}

.values-container {
    flex: 2.5; /* Уменьшено значение flex, чтобы балансировать пространство с left-section-container */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;  
}

.value-title {
    color: #BEFF54;
    font-size: 26px;  
    font-weight: 600;
    line-height: 32px;  
    margin-bottom: 25px;
}

.value-description {
    color: #FBFBFB;
    font-size: 21px;  
    font-weight: 500;
    line-height: 32px;  
    margin-top: 15px; 
}

