.logo-footer{
    margin-left: 35px;
    margin-top: 58px;
    width: 80px;
    height: 80px;
    margin-right: 60px;
}

.about-links{
    width: 504px;
    margin-top:58px;
    display: flex;
}

.link-group{
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}

.about-link, .main-link{
    color: #5A5F62;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    margin-top: 4px;
    margin-bottom: 4px;
    
    text-decoration: none;
    transition: transform 0.2s, color 0.2s;
    transform: scale(1); /* Установите начальный размер */
}
.main-link{
    color:white;
}
.about-link{
    font-family: Poppins;
}

.contacts, .contacts-title{
    font-family: Poppins;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}
.contact-info{
    margin-top:29px;
}

.contact-wrapper{
    margin-top:4px;
    margin-bottom: 4px;
}

.contacts{
    color: #5A5F62;
}

.contacts-title{
    color:white;
}

.about-link:hover, .main-link:hover {
    color: #BEFF54; /* Зеленый цвет текста при наведении */
    transform: scale(1.1); /* Увеличение на 10% при наведении */
}
.social-network-link {
    width: 44px;
    height: 44px;
    margin-left: 0px;
    margin-right: 8px;
}

.social-network-link-group {
    margin-top: 58px;
    margin-right: 58px;
    margin-left: auto;
}

/* брат, здесь футтер) */
.footer {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: #1B1D1E;
    color: white;
    height: 230px;
    border-radius: 12px;
    display: flex;
}