body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141515;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 72px;
    padding: 0 20px;
}

.contacts {
    margin-left: auto;
    margin-right: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.company-name {
    margin-right: 20px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.nav-item:last-child {
    margin-right: 0;
}

.gif-image {
    width: 653px;
    height: 619px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
