body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141515;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 72px;
    padding: 0 20px;
}

.staticHeader {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.contacts {
    margin-left: auto;
    margin-right: 20px;
}

.logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.company-name {
    margin-right: 20px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.nav-item:last-child {
    margin-right: 0;
}

.gif-image {
    width: 653px;
    height: 619px;
}

.text-content {
    color: #FBFBFB;
    font-family: Manrope;
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 90px; 
    letter-spacing: -1.92px;
    padding-left: 20px; 
}

.text-content span {
    color: #BEFF54;
}

.content-wrapper {
    display: flex;
    align-items: center; /* вертикальное центрирование */
    justify-content: center; /* горизонтальное центрирование */
    height: 100vh; /* делаем контейнер высотой во всю высоту экрана, чтобы он был центрирован */
}

.description {
    color: var(--_, #FBFBFB);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    padding-top: 46px; 
    padding-right: 160px;
}

.button {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 0px; /* Я сохранил предыдущий отступ для текста, но вы можете изменить его по своему усмотрению */
    background-color: black;
    border-radius: 100px; /* Размер скругления для кнопки */
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    width: 223px; /* Ширина кнопки */
    height: 70px; /* Высота кнопки */
    margin-top: 56px;
}

.button .text {
    margin-left: 24px; /* Отступ для текста слева от стрелки */
}

.button .arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BEFF54;
    width: 62px; /* Ширина круга */
    height: 62px; /* Высота круга */
    border-radius: 100px; /* Размер скругления для круга */
    margin: 4px; /* Отступ в 4px со всех сторон для круга */
}




