body {
    font-family: Manrope, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141515;
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1D1E;
    color: white;
    height: 71px;
    padding: 0 20px;
    width: calc(100% - 50px); /* 100% ширины минус 25px с каждой стороны */
    flex-shrink: 0;
    border-radius: 12px;
    margin: 25px 25px 0 25px; /* верхний отступ 25px, правый и левый 25px, нижний 0px */
}


.staticHeader {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.contacts {
    margin-left: auto;
    margin-right: 20px;
}

.logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.company-name {
    margin-right: 20px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.nav-item:last-child {
    margin-right: 0;
}

.gif-image {
    width: 653px;
    height: 619px;
    margin-top: -70px;
}

.text-content {
    color: #FBFBFB;
    font-family: 'Manrope', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 90px; 
    letter-spacing: -1.92px;
    padding-left: 20px; 
}

.text-content span {
    color: #BEFF54;
}

.content-wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: center; /* горизонтальное центрирование */
    height: 100vh; /* делаем контейнер высотой во всю высоту экрана, чтобы он был центрирован */
}

.description-main {
    color: var(--_, #FBFBFB);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    padding-top: 46px; 
    padding-right: 160px;
}

.button {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 0px; /* Я сохранил предыдущий отступ для текста, но вы можете изменить его по своему усмотрению */
    background-color: black;
    border-radius: 100px; /* Размер скругления для кнопки */
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    width: 223px; /* Ширина кнопки */
    height: 70px; /* Высота кнопки */
    margin-top: 56px;
}

.button .text {
    margin-left: 24px; /* Отступ для текста слева от стрелки */
}

.button .arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BEFF54;
    width: 62px; /* Ширина круга */
    height: 62px; /* Высота круга */
    border-radius: 100px; /* Размер скругления для круга */
    margin: 4px; /* Отступ в 4px со всех сторон для круга */
}

/* Первоначальное состояние SVG внутри кнопки */
.button .arrow-container svg {
    transition: transform 0.3s; /* Плавное изменение за 0.3 секунды */
    transform: rotate(0deg); /* Начальное положение (без поворота) */
}

/* Состояние SVG при наведении на кнопку */
.button:hover .arrow-container svg {
    transform: rotate(90deg); /* Поворот на 90 градусов */
}



.button {
    position: relative;
    overflow: hidden; /* Скрываем элементы, выходящие за границы кнопки. */
}

@keyframes rollToEnd {
    0% {
        left: 4px; /* начальное положение круга */
    }
    100% {
        left: calc(100% - 66px); /* 66px = 62px (ширина круга) + 4px (отступ) */
    }
}

.button.pressed .arrow-container {
    position: absolute; /* Абсолютное позиционирование для круга внутри кнопки. */
    animation: rollToEnd 0.8s forwards;
}

.button.pressed .text {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}





.container {
    padding-left: 35px;  /* Отступ слева внутри контейнера */
    padding-right: 35px;  /* Отступ справа внутри контейнера */
    padding-top: 25px;    /* Отступ сверху внутри контейнера */
    padding-bottom: 25px; /* Отступ снизу внутри контейнера */
    margin: 0px 25px 0 25px;
    width: calc(100% - 50px);
    height: 550px;        /* Явно заданная высота контейнера */
    border-radius: 20px;
    background-color: #1B1D1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}



.text-block {
    flex: 1;
}

.headline {
    color: #BEFF54;
    font-family: 'Manrope', sans-serif;
    font-size: 100px;
    max-width: 660px;
    line-height: 110px;
    text-transform: uppercase;
}

.cells-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 34px;  /* Общий отступ между ячейками (20px + 1px + 14px) */
}

.cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 650px;
    box-sizing: border-box;
    position: relative;
}

.cell:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: -14px;  /* Расположение линии снизу на 14px от ячейки */
    left: 0;
    width: 650px;
    height: 1px;
    background-color: #5A5F62;  /* Обновленный цвет линии */
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 
}

.title, .description {
    color: #FBFBFB;
    font-family: 'Manrope', sans-serif;
    margin: 0;  /* Убираем все отступы */
}

.title {
    font-size: 42px;
    font-style: normal;
    max-width: 365px;
    overflow-wrap: break-word;
}

.description {
    font-size: 20px;
    line-height: 30px;
    max-width: 427px;
    overflow-wrap: break-word;
}

.svg-container {
    margin-left: 100px;
}








