body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141515;
}



.container {
    display: flex;
    align-items: start;  /* Align items to the top */
    gap: 100px;  /* Margin between the image and text content */
    padding-left: 60px;
    padding-right: 60px;
}

.about-image {
    width: 500px ;  /* Ensure the image scales nicely */
    height: 500px;
      /* Keep the original aspect ratio */
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 44px;  /* Margin between each text element */
}

.about-heading {
    margin: 0;
    margin-top: 65px;
    color: #BEFF54;
    font-family: Manrope, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
}

.textbox {
    margin: 0;
    color: #FBFBFB;
    font-family: Manrope, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px;
}

.textbox2 {
    margin: 0;
    max-width: 617px;
    color: #5A5F62;
    font-family: Manrope, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.section-wrapper {
    padding: 70px 0;  
    background-color: #141515;
     
    margin-left: 25px;
    margin-right: 25px;

    display: grid;
    grid-template-rows: auto auto;
    justify-self: center;
    align-self: center;
}

[class^="container-section-"] { 
    border-top: 1px solid #5A5F62;
    display: grid;
}

.container-section-values{
    grid-template-columns: 580px auto 350px; 
    justify-self: start;
    align-self: start;
}

.container-section-reasons{
    grid-template-rows: 1fr 2fr;
    justify-self: center;
    align-self: center;
}

.values-header {
    color: #BEFF54;
    font-size: 58px;  
    font-weight: 600;
    line-height: 62px;  
    text-transform: uppercase;
    margin-bottom: 32px;
    margin-left: 35px ;
}
[class^="values-description-"]{
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;  
}
.values-description-1{
    color: #5A5F62;
    margin-left: 35px; 
}

.values-description-2{
    color: #FBFBFB; 
    margin-top: 15px; 
    margin-bottom: 75px;
}

.values-description-3{
    color: #FBFBFB; 
    margin-top: 15px; 
    margin-bottom:75px;
}

[class^="values-container-"]{
    /*flex: 2.5; /* Уменьшено значение flex, чтобы балансировать пространство с left-section-container */
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-self: start;
    align-self: start;
    margin-top: 100px;
}

.values-container-1{
    margin-right: 153px;
}

.values-container-2{
    margin-right: 120px;
}
.value-title {
    color: #BEFF54;
    font-size: 26px;  
    font-weight: 600;
    line-height: 32px;  
    margin-bottom: 32px;
}

.why-choose-header{
    color: #BEFF54;
    font-family: Manrope, sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;

    margin-top: 98px;
    margin-left: 60px;
    margin-bottom: 40px;
}

.reason-wrapper{
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

[class^="reason-container-"]{
    border-radius: 20px;
    background: #1B1D1E;
    
    width: 685px;
    height: 236px;
    flex-shrink: 0;

    overflow: hidden;

    display: grid;
    gap:30px;
    transition: all 0.5s ease;
}
[class^="reason-container-"]:hover{
    transform: scale(1.02);
}


.reason-container-1, .reason-container-2{

    grid-template-columns: 1fr 1fr;
}

.reason-container-3, .reason-container-4{

    grid-template-columns: 1fr 1fr;
}

[class^="reason-number-"]{
    color: #282A2C;
    font-family: Manrope, sans-serif;
    font-size: 299px;
    font-style: normal;
    font-weight: 300;
    line-height: 269.1px; /* 90% */
    text-transform: uppercase;
    max-width: 320px;
}
.reason-number-1, .reason-number-2{
    margin-top:48px;
    margin-left:35px;
}

.reason-number-3, .reason-number-4{
    margin-top: 48px;
    margin-right: 35px;
}

[class^="reason-content-"] {
    display: grid;
    grid-template-rows: 30px auto;

    margin-top: 76px;
    max-width: 300px;
}

.reason-content-1, .reason-content-2{
    margin-right: 35px;
}
.reason-content-3, .reason-content-4{
    
    margin-left: 35px;
}

.reason-description{
    color:  #FBFBFB;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */

    margin-top: 18px;
}

.reason-title{
    color: #BEFF54;
    font-family: Manrope, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
}
