/* WARNING 

  струкрута html секции about меняется при изменении ширины экрана 
  
WARNING */

/* dev temp code ... */
/* mobile first */
@media (max-width: 390px) {}
@media (min-width: 390px) {}
@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1440px) {}
@media (min-width: 1920px) {}

/* desktop first (kill me pls) */
@media (min-width: 1920px) {} 
@media (max-width: 1919px) {} 
@media (max-width: 1439px) {}
@media (max-width: 1199px) {}
@media (max-width: 991px) {}
@media (max-width: 767px) {}
@media (max-width: 575px) {}
@media (max-width: 389px) {}

/* containers for SOME sections */
.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1920px) {
	.container {
    max-width: 1720px;
  }
} 
@media (max-width: 1919px) {
	.container {
    max-width: 1320px;
  }
} 
@media (max-width: 1439px) {
	.container {
    max-width: 698px;
  }
}
@media (max-width: 1199px) {}
@media (max-width: 991px) {}
@media (max-width: 767px) {
	.container {
		padding-right: 12px;
		padding-left: 12px;
	}
}
@media (max-width: 575px) {}
@media (max-width: 389px) {}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #141515;
}


.about-section {
  gap: 100px; /* Margin between the image and text content */
}
@media (max-width: 390px) {}
@media (min-width: 390px) {}
@media (min-width: 576px) {}
@media (min-width: 768px) {
  .about-section {
    margin-top: 70px;
    overflow-x: hidden;
    height: 490px;
  }
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1440px) {
  .about-section {
    margin-top: 65px;
  }
}
@media (min-width: 1920px) {}


.about-section .container {
  display: flex;
}
@media (max-width: 390px) {.about-section .container {}}
@media (min-width: 390px) {.about-section .container {
  flex-direction: column;
}}
@media (min-width: 576px) {.about-section .container {}}
@media (min-width: 768px) {
  .about-section .container {
    position: relative;
    flex-direction: column;
  }
}
@media (min-width: 992px) {.about-section .container {}}
@media (min-width: 1200px) {.about-section .container {}}
@media (min-width: 1440px) {
  .about-section .container {
    flex-direction: row;
    gap: 50px;
  }
}
@media (min-width: 1920px) {.about-section .container {gap: 100px;}}


.about-image {}
@media (max-width: 390px) {
  .about-image {
    max-width: 320px;
    max-height: 220px;
    order: 2;
  }
}
@media (min-width: 390px) {
  .about-image {
    max-width: 366px;
    max-height: 266px;
    order: 2;
  }
}
@media (min-width: 576px) {}
@media (min-width: 768px) {
  .about-image {
    min-width: 575px;
    min-height: 418px;
    order: 2;
    
    position: absolute;
    top: 70px;
    left: 250px;
  }
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1440px) {
  .about-image {
    min-width: 488px;
    min-height: 355px;
    order: 1;
    position: static;
    right: 0;
  }
}
@media (min-width: 1920px) {
  .about-image {
    min-width: 626px;
    min-height: 456px;
  }
}


.about-image-wrapper {}
@media (max-width: 390px) {
  .about-image-wrapper {
    order: 3;
    margin: 38px auto;
  }
}
@media (min-width: 390px) {
  .about-image-wrapper {
    order: 3;
    margin: 38px auto;
  }
}
@media (min-width: 576px) {}
@media (min-width: 768px) {
  .about-image-wrapper {
    order: 3;
    display: none;
  }
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1440px) {}
@media (min-width: 1920px) {}


.about-content {
  display: flex;
  flex-direction: column;
}
@media (max-width: 390px) {}
@media (min-width: 390px) {
  .about-content {
    margin-top: 44px;
  }
}
@media (min-width: 576px) {}
@media (min-width: 768px) {
  .about-content {
    order: 1;
    margin-top: 0;
  }
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1440px) {
  .about-content {
    order: 2;
  }
}
@media (min-width: 1920px) {}


@media (max-width: 390px) {
  .about-heading {
    order: 1;
    margin-bottom: 12px;
  }
}
@media (min-width: 390px) {
  .about-heading {
    order: 1;
    margin-bottom: 12px;
  }
}
@media (min-width: 576px) {}
@media (min-width: 768px) {
  .about-heading {
    margin-bottom: 27px;
  }
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1440px) {
  .about-heading {
    margin-bottom: 27px;
  }
}
@media (min-width: 1920px) {
  .about-heading {
    margin-bottom: 52px;
  }
}


.textbox {
  color: #fbfbfb;
  font-family: Manrope, sans-serif;
  font-style: normal;
  letter-spacing: 0em;
}
@media (max-width: 390px) {
  .textbox {
    order: 4;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin-bottom: 32px;
  }
}
@media (min-width: 390px) {
  .textbox {
    order: 4;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin-bottom: 32px;
  }
}
@media (min-width: 576px) {}
@media (min-width: 768px) {
  .textbox {
    order: 3;
    max-width: 363px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0px;
  }
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1440px) {
  .textbox {
    max-width: 746px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    order: 2;
  }
}
@media (min-width: 1920px) {
  .textbox {
    max-width: 836px;
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
  }
}


.textbox2 {
  color: #5a5f62;
  font-family: Manrope, sans-serif;
  font-style: normal;
  letter-spacing: 0em;
}
@media (max-width: 390px) {
  .textbox2 {
    order: 2;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}
@media (min-width: 390px) {
  .textbox2 {
    order: 2;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}
@media (min-width: 576px) {}
@media (min-width: 768px) {
  .textbox2 {
    order: 2;
    max-width: 449px;
    margin-bottom: 22px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1440px) {
  .textbox2 {
    max-width: 670px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    order: 3;
  }
}
@media (min-width: 1920px) {}

.section-wrapper {
  padding: 70px 0;
  background-color: #141515;

  margin-left: 25px;
  margin-right: 25px;

  display: grid;
  grid-template-rows: auto auto;
  justify-self: center;
  align-self: center;
}

[class^="container-section-"] {
  border-top: 1px solid #5a5f62;
  display: grid;
}

.container-section-values {
  grid-template-columns: 580px auto 350px;
  justify-self: start;
  align-self: start;
}

.container-section-reasons {
  grid-template-rows: 1fr 2fr;
  justify-self: center;
  align-self: center;
}

.values-header {
  color: #beff54;
  font-size: 58px;
  font-weight: 600;
  line-height: 62px;
  text-transform: uppercase;
  margin-bottom: 32px;
  margin-left: 35px;
}
[class^="values-description-"] {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.values-description-1 {
  color: #5a5f62;
  margin-left: 35px;
}

.values-description-2 {
  color: #fbfbfb;
  margin-top: 15px;
  margin-bottom: 75px;
}

.values-description-3 {
  color: #fbfbfb;
  margin-top: 15px;
  margin-bottom: 75px;
}

[class^="values-container-"] {
  /*flex: 2.5; /* Уменьшено значение flex, чтобы балансировать пространство с left-section-container */
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-self: start;
  align-self: start;
  margin-top: 100px;
}

.values-container-1 {
  margin-right: 153px;
}

.values-container-2 {
  margin-right: 120px;
}
.value-title {
  color: #beff54;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 32px;
}

.why-choose-header {
  color: #beff54;
  font-family: Manrope, sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  text-transform: uppercase;

  margin-top: 98px;
  margin-left: 60px;
  margin-bottom: 40px;
}

.reason-wrapper {
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

[class^="reason-container-"] {
  border-radius: 20px;
  background: #1b1d1e;

  width: 685px;
  height: 236px;
  flex-shrink: 0;

  overflow: hidden;

  display: grid;
  gap: 30px;
  transition: all 0.5s ease;
}
[class^="reason-container-"]:hover {
  transform: scale(1.02);
}

.reason-container-1,
.reason-container-2 {
  grid-template-columns: 1fr 1fr;
}

.reason-container-3,
.reason-container-4 {
  grid-template-columns: 1fr 1fr;
}

[class^="reason-number-"] {
  color: #282a2c;
  font-family: Manrope, sans-serif;
  font-size: 299px;
  font-style: normal;
  font-weight: 300;
  line-height: 269.1px; /* 90% */
  text-transform: uppercase;
  max-width: 320px;
}
.reason-number-1,
.reason-number-2 {
  margin-top: 48px;
  margin-left: 35px;
}

.reason-number-3,
.reason-number-4 {
  margin-top: 48px;
  margin-right: 35px;
}

[class^="reason-content-"] {
  display: grid;
  grid-template-rows: 30px auto;

  margin-top: 76px;
  max-width: 300px;
}

.reason-content-1,
.reason-content-2 {
  margin-right: 35px;
}
.reason-content-3,
.reason-content-4 {
  margin-left: 35px;
}

.reason-description {
  color: #fbfbfb;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */

  margin-top: 18px;
}

.reason-title {
  color: #beff54;
  font-family: Manrope, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
}

@media (max-width: 576px) {
  .section-wrapper {
    padding: 0px;
    background-color: #141515;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
  }

  [class^="container-section-"] {
    border-top: 1px solid #5a5f62;
    display: flex;
    flex-direction: column;
  }

  .container-section-values {
    display: flex;
    justify-self: start;
    align-self: start;
    padding: 15px;
    flex-direction: column;
    gap: 0px;
    padding-top: 44px;
  }

  .container-section-reasons {
    grid-template-rows: 1fr 2fr;
    justify-self: center;
    align-self: center;
  }

  .values-header {
    color: #beff54;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 12px;
  }

  [class^="values-description-"] {
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
  .values-description-1 {
    color: #5a5f62;
    margin-left: 0px;
  }

  .values-description-2 {
    color: #fbfbfb;
    margin-top: 12px;
    margin-bottom: 32px;
  }

  .values-description-3 {
    color: #fbfbfb;
    margin-top: 12px;
    margin-bottom: 32px;
  }

  [class^="values-container-"] {
    display: flex;
    flex-direction: column;
    align-self: start;
    margin-top: 0px;
  }

  .values-container-1 {
    margin-right: 0px;
    margin-bottom: 44px;
  }

  .values-container-2 {
    margin-right: 0px;
  }
  .value-title {
    color: #beff54;
    font-family: Manrope;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin: 0px;
  }

  .why-choose-header {
    color: #beff54;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 32px;
    margin-left: 15px;
    margin-bottom: 32px;
  }

  .reason-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    padding: 15px;
  }

  [class^="reason-container-"] {
    border-radius: 20px;
    background: #1b1d1e;

    width: 100%;
    height: 300px;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;

    transition: all 0.5s ease;
  }
  [class^="reason-container-"]:hover {
    transform: scale(1.02);
  }

  .reason-container-1,
  .reason-container-2 {
    grid-template-columns: 1fr 1fr;
  }

  .reason-container-3,
  .reason-container-4 {
    grid-template-columns: 1fr 1fr;
  }

  [class^="reason-number-"] {
    color: #282a2c;
    max-width: none;
    order: 2;
    font-family: Manrope;
    font-size: 299px;
    font-style: normal;
    font-weight: 300;
    line-height: 269.1px;
    text-transform: uppercase;
  }
  .reason-number-1,
  .reason-number-2 {
    margin-top: 0px;
    margin-left: 0px;
  }

  .reason-number-3,
  .reason-number-4 {
    margin-top: 0px;
    margin-right: 0px;
  }

  [class^="reason-content-"] {
    display: flex;
    margin-top: 26px;
    max-width: none;
    flex-direction: column;
  }

  .reason-content-1,
  .reason-content-2 {
    margin-right: 0px;
    margin-left: 30px;
  }
  .reason-content-3,
  .reason-content-4 {
    margin-left: 30px;
  }

  .reason-description {
    color: #fbfbfb;
    margin-top: 12px;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    width: 70%;
  }

  .reason-title {
    color: #beff54;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
  }
}

@media (max-width: 390px) {
  [class^="reason-number-"] {
    color: #282a2c;
    max-width: none;
    order: 2;
    font-family: Manrope;
    font-size: 250px;
    font-style: normal;
    font-weight: 300;
    line-height: 269.1px;
    text-transform: uppercase;
  }
}

/* animation */

@keyframes slideUp {
  from {
    transform: translateY(20px); /* Начальное смещение вниз */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.about-heading,
.textbox,
.textbox2 {
  opacity: 0; /* Начальное состояние: невидимые */
  animation: slideUp 0.5s ease-out forwards;
}

.about-heading {
  animation-delay: 0.5s; /* Задержка для заголовка "About" */
}

.textbox {
  animation-delay: 1s; /* Задержка для первого абзаца */
}

.textbox2 {
  animation-delay: 1.5s; /* Задержка для второго абзаца */
}

@media (min-width: 576px) {
  @keyframes slideInRight {
    from {
      transform: translateX(30px); /* Начальное смещение вправо */
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .value-card {
    opacity: 0; /* Начальное состояние: невидимые */
    transform: translateX(30px);
    transition: all 0.5s ease-out;
  }

  .visible {
    animation: slideInRight 1s ease-out forwards; /* Увеличиваем длительность до 1 секунды */
  }

  @keyframes leftToRight {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes rightToLeft {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animated-left {
    animation: leftToRight 1s ease-out;
  }

  .animated-right {
    animation: rightToLeft 1s ease-out;
  }
}

@media (max-width: 576px) {
  @keyframes bottomToTop {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animated-bottom {
    animation: bottomToTop 1s ease-out;
  }
}
