/* .animated-smooth {
  opacity: 0;
}
.animated-smooth.element-show {
  opacity: 1;
  transition: all 0.3s;
} */

/* .animated-slide-right {
  transform: translateX(-20%);
}
.animated-slide-right.element-show {
  transition: all 0.5s;
  transform: translateX(0);
  animation-fill-mode: forwards;
}

.animated-slide-left {
  transform: translateX(50px);
}
.animated-slide-left.element-show {
  transition: all 0.5s;
  transform: translateX(0);
  animation-fill-mode: forwards;
} */
