.nav-item-active {
    color: #BEFF54; /* Зеленый цвет текста для активной кнопки */
    transform: scale(1.1); /* Увеличение на 10% для активной кнопки */
}


.staticHeader {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1D1E;
    color: white;
    height: 71px;
    padding: 0 20px;
    width: calc(100% - 50px); /* 100% ширины минус 25px с каждой стороны */
    flex-shrink: 0;
    border-radius: 12px;
    margin: 25px 25px 0 25px; /* верхний отступ 25px, правый и левый 25px, нижний 0px */
    position: relative;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-container a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-container {
    display: flex;
    align-items: center; /* для вертикального выравнивания содержимого по центру */
    gap: 5px;
}

.contacts {
    margin-left: auto;
    margin-right: 20px;
}

.menu-icon {
    display: none; 
}

.contacts a {
    color: #FBFBFB;
    text-align: right; 
    font-family: Manrope; 
    font-size: 17px; 
    font-weight: 300; 
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Стили для всплывающего окна */
.contact-popup {
    width: 360px;
    height: 136px;
    border-radius: 12px;
    border: 1px solid #BEFF54;
    background: #1B1D1E;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
    right: 20px; /* Расположение по вашему усмотрению */
    position: fixed; /* Changed from absolute to fixed */
    top: 81px;
    display: none; /* Скрыть пока не будет активирован */
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
    z-index: 100; /* Убедитесь, что окно поверх остального контента */
    transition: top 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

/* Стили для анимации */
.contact-popup.active {
    display: flex;
    animation: slideIn 0.5s forwards; /* Имя анимации и её продолжительность */
    margin-right: 5px;
}

/* Ключевые кадры для анимации */
@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.contacts a:hover {
     color: #BEFF54;  
   /* transform: scale(1.05); Увеличение размера при наведении */
}
.contact-active {
    color: #BEFF54; /* новый цвет для активной ссылки */
  }

.logo {
    width: 33px;
    height: 21px;
}

.contact-popup p {
    color: #FBFBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* Set the default text color for email and phone text */
    margin-left: 30px;
    margin-bottom: 0px;
}

.contact-popup p span {
   color: #5A5F62;
   font-size: 16px;
   font-weight: 400;
}

.contact-popup a {
    color: #5A5F62; /* Set a different text color for email links */
    text-decoration: none; /* Optional: removes the underline from links */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.contact-popup a:hover {
    color: #BEFF54; /* Optional: change color on hover */
}

.company-name {
    color: #FBFBFB;
    font-family: Michroma;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 5px;
}

nav {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-item {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    transition: transform 0.2s, color 0.2s;
    transform: scale(1); /* Установите начальный размер */
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item:hover {
    color: #BEFF54; /* Зеленый цвет текста при наведении */
    transform: scale(1.1); /* Увеличение на 10% при наведении */
}

.nav-item-active,
.nav-item-active:active {
    color: #BEFF54; /* Зеленый цвет текста для активной кнопки */
    transform: scale(1.1); /* Увеличение на 10% для активной кнопки */
}


/* Error alert styles */
.error-alert {
    display: none;
    background: red;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 5px;
    font-size: 14px;
}



/* footer */

.logo-div-footer {
    display: flex;
    flex-direction: row;
    width: 52%;
    align-items: center;
    margin-top: 37px;
    gap: 12px;
    margin-left: 35px;
}

.logo-footer{
    width: 45px;
    height: 45px;
}

.mobile-logo-text {
    display: flex;
    width: 57%;
    margin-left: 35px;
    margin-top: 28px;
}

.about-links{
    width: 47%;
    margin-top: 46px;
    display: flex;
}

.link-group{
    margin-right: 44px;
    display: flex;
    flex-direction: column;
}

.about-link {
    color: #5A5F62;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    margin-top: 4px;
    margin-bottom: 4px;
    
    text-decoration: none;
    transition: transform 0.2s, color 0.2s;
    transform: scale(1); /* Установите начальный размер */
}
.main-link {
    color:white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    margin-top: 4px;
    margin-bottom: 4px;
    text-decoration: none;
}
.about-link {
    font-family: Poppins;
}

.menu-list li {
    width: 100%;
    text-align: start;
    margin-left: 44px;
    position: relative;
}

.menu-list li:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: calc(90% - 44px);
    border-bottom: 1px solid #5A5F62;
    padding-top: 25px; 
}

.menu-list li a, .menu-list li {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.contact, .contacts-title{
    font-family: Poppins;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}
.contact-info{
    margin-top:29px;
}

.contact-wrapper{
    margin-top:4px;
    margin-bottom: 4px;
}

.contact{
    color: #5A5F62;
}

.contacts-title{
    color:white;
}

.about-link:hover {
    color: #BEFF54; /* Зеленый цвет текста при наведении */
    transform: scale(1.1); /* Увеличение на 10% при наведении */
}

.company-name-footer {
    color: #FBFBFB;
    font-family: Michroma;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 13px;
}

.contact-wrapper .contacts-title,
.contact-wrapper .contact,
.contact-wrapper .contact-value {
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block; /* Allows the transform to work */
}

.contact-wrapper .contact:hover,
.contact-wrapper .contact-value:hover {
    color: #BEFF54; /* Changes the color */
}


.social-network-link {
    display: inline-block;
    overflow: hidden;
    transition: transform 0.3s;
    width: 44px;
    height: 44px;
    margin-left: 0px;
    margin-right: 8px;
    position: relative;
}

.social-network-link:hover {
    transform: scale(1.1);
}

.social-network-link img {
    transition: opacity 0.3s;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}

.social-network-link:hover img {
    opacity: 0;
}

.social-network-link.facebook:hover {
    content: url('../src/FacebookGreen.svg');
}

.social-network-link.twitter:hover {
    content: url('../src/TwitterGreen.svg');
}

.social-network-link.instagram:hover {
    content: url('../src/InsagramGreen.svg');
}

.social-network-link-group {
    margin-top: 46px;
    margin-right: 16px;
}

.footer {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: #1B1D1E;
    color: white;
    height: 230px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}


/* adaptive */

@media (max-width: 576px) {
    .staticHeader {
        border-radius: inherit;
        justify-content: left; 
        border-bottom-left-radius: 15px; /* Закругляем нижние углы */
        border-bottom-right-radius: 15px;
        margin: 0 0 25px 0; /* Убираем верхние и боковые отступы, оставляем только нижний */
        height: 91px;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
        width: auto;
        
    }
  
    .nav-item,
    .contacts {
        display: none; /* Скрываем элементы навигации и контакты */
    }
  
    .logo-container {
        position: absolute;
        margin-left: 25px;
        transform: translateX(-50%); /* Центрируем логотип */
        margin-top: 22px;
        margin-left: 91px;
    }
  
    .menu-icon { /* Добавляем стили для SVG иконки меню */
        display: block; /* или inline-block в зависимости от вашего layout */
        position: absolute;
        right: 20px; /* Позиционируем иконку меню справа */
        top: 50%;
        transform: translateY(-50%);
        margin-top: 15px;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: start;
    }

}


.mobile-menu {
    display: none; /* Скрыть меню до активации */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1B1D1E; /* Цвет фона меню */
    color: #FBFBFB; /* Цвет текста */
    z-index: 1000; /* Должно быть выше всех других элементов */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu-header {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .close-menu {
    margin-top: 142%;
    margin-right: 20px;
  }

  .menu-list {
    text-align: left;
    width: 100%; /* Устанавливаем ширину списка */
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    margin: 0;
    height: auto;
  }
  
  .menu-list li {
    padding: 24px 0;
  }
  
  .menu-list li a {
    text-decoration: none;
    color: #FBFBFB;
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: inline-block;
    position: relative;
  }
  
  .menu-list img {
    height: 24px; /* Примерный размер */
    margin-left: 5px; /* Отступ от текста */
  }
  
  .contacts-info {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    background: #1B1D1E;
    color: #FBFBFB;
    margin-top: -6px;
    margin-left: 86px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    width: inherit;
}

.contacts-info p {
    margin: 3px;
}

.contact-label {
    color: #FBFBFB; /* Замените на желаемый цвет для слова 'email' и 'phone' */
}

.contact-value {
    color: #5A5F62; /* Замените на желаемый цвет для значений, таких как 'lalalla@net.com' и номер телефона */
    text-decoration: none;
}

.contacts-info.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: inherit;
}

.arrow-rotate {
    transition: transform 0.5s;
}

/* Этот класс должен соответствовать тому, что добавляется в JavaScript */
.down {
    transform: rotate(135deg);
    transition: transform 0.5s;
}

  /* Стиль для пункта меню, который открывает контакты */
  .contacts-trigger {
    cursor: pointer;
    text-decoration: none;
    color: #FBFBFB;
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: inline-block;
    position: relative;
  }

  .contacts-trigger img {
    /* Ваши начальные стили для стрелки */
    transition: transform 0.5s; /* Плавность анимации */
}

@media (max-width: 576px) {

    .about-links {
        width: auto;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .footer {
        padding: 35px;
        flex-direction: column;
        text-align: start;
        height: auto;
        margin: 0px;
        margin-top: 60px;
    }

    .company-name-footer { 
        color: #FBFBFB;
        font-family: Michroma;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; 
        margin-top: 5px;
    }

    .social-network-link-group {
        display: flex;
        align-items: center;
        margin: 0;
        margin-top: 32px;
        justify-content: center;
    }

    .contact-info{
        display: none;
    }

    .logo-footer {
        width: 32.5px;
        height: 20px;
        margin: 0px;
        margin-top: 8px;
    }

    .link-group {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        gap: 4px;
    }

    .mobile-logo-text {
        display: block;
        color: #FBFBFB;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        padding-right: 100px;
        width: auto;
        margin: 0px;
    }

    .logo-div-footer {
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
        gap: 5px;
        width: auto;
        margin: 0px;
        margin-bottom: 25px;
        align-items: baseline;
    }

}

@media (min-width: 576px) and (max-width: 768px) {
    /* Стили для планшетов поменьше */   
    /* header */
    .company-name {
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    /* Стили для планшетов побольше */
    
    /* header */
    .company-name {
        display: none;
    }
  
    .nav a, .contacts a {
        font-size: 18px;
    }
}
  