body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141515;
}


h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 5px;
    color: #C5FF68;
}

.description {
    margin-left: 426px;
    margin-right: 426px;
    text-align: center;
    color: #FBFBFB;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500px;
    line-height: 30px; /* 150% */ 
    height: 60px;
    margin-bottom: 88px;

}





.tabs {
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    margin: 25px 25px 0 25px;
    border-radius: 12px;
    background: #1B1D1E;
}

.tabs div {
    display: flex;
    width: 459px;
    height: 62px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #1B1D1E; /* Изначальный темный фон */
    cursor: pointer;
    transition: background-color 0.3s;
}

.tabs div p {
    color: #BEFF54; /* Зеленый текст */
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.tabs div.active-tab {
    background-color: #C5FF68; 
}

.tabs div.active-tab p {
    color: #000504; 
}

.tabs div:hover {
    transform: scale(1.03);  
}







.package-container {
    display: flex;          /* Включает Flexbox */
    flex-wrap: wrap;        /* Позволяет элементам переноситься на новую строку */
    justify-content: space-between; /* Распределяет пространство между пакетами равномерно */
    gap: 35px;   
    margin-top: 60px;
    margin-left: 46px;
    margin-right: 46px;         
}

.package {
    background-color: #fff;
    width: 340px;
    height: 410px;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
}
.package {
    transition: transform 0.3s ease; 
}

.package h2 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.package ul {
    list-style-type: none;
    font-size: 20px;
    padding: 0;
}

.package ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.package ul li::before {
    content: url('../src/CheckCircle.svg');
    margin-right: 10px;
    font-size: 20px;
    width: 26px; /* Задайте необходимый размер */
    height: 26px;
}

.package .price {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
    position: relative;
}

/* fix here */
.button-view {
    display: block;
    background-color: #141515;
    color: #BEFF54;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border: none;
    border-radius: 60px;
    width: 156px;
    height: 50px;
    margin: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}



.button-view::after {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;  
    background-size: cover;
    background-repeat: no-repeat;
}

.button-view:hover {
    background-color: #2d2e2e;
}

.line {
    height: 1px;
    background-color: #BABCC0;
    margin: 33px 0;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.package .price {
    margin: 0;
    flex-grow: 1;
    text-align: left;
}

.price span {
    color: #BABCC0;
    font-size: 20px;
    margin-right: 10px;
}


/* table */

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

.feature-service {
    padding: 100px 50px;
  }
  
  .section-heading {
    color: #282A2C;
    font-size: 45px;
    text-align: right;
    font-weight: 700;
    margin-bottom: 50px;
  }
  
  .first-heading {
    color: #beff54;
  }
  
  .feature-service-table {
    width: 100%;
    /* Set the table width as needed */
    color: white;
    table-layout: fixed;
    /* Set table layout to fixed */
  }

  .fa-check:before {
    content: url('data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSI+CiAgPHBhdGggZD0iTTUgMTJMMTAgMTdMMjAgNyIgc3Ryb2tlPSIjQkVGRjU0IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K');
  }

  .first-heading-text {
    margin-bottom: -45px;
    color: #BEFF54;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;   
  }
  
  .fa-solid, .fas {
    font-weight: 900;
}
  
  .feature-service-table td {
    width: 25%;
    /* Divide the table into 4 equal parts (since you have 4 columns) */
    text-align: center;
    /* Center align content within cells */
  }

  .first-heading {
    padding-bottom: 0px;
  }
  
  .head-div {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #1B1D1E;
    padding-bottom: 10px;
    border-top-left-radius: 14px; 
    border-top-right-radius: 14px;
  }

  .head-div h3 {
    color: #FBFBFB;
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: auto;
  }
  
  .head-div p {
    color: #FBFBFB;
    font-family: Manrope;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
    margin-top: 13px
  }

  .head-div p span {
    color: #5A5F62;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-right: 5px;
    margin-top: 13px;
  }

  .button-get-started {
    display: block;
    background-color: #141515;
    color: #BEFF54;
    text-align: center;
    font-family: Manrope;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border: none;
    border-radius: 50px;
    width: 137px;
    height: 40px;
    margin: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
  }
  
  .button-get-started:hover {
    background-color: #2d2e2e;
}

  .tr-body {
    line-height: 2.5;
  }
  
  .feature-service-table td {
    width: 20%;
    /* Set the width for the other columns */
    text-align: center;
  }
  
  .feature-service-table td:first-child {
    width: 30%;
    /* Set a different width for the first column */
    text-align: left;
    /* Align text in the first column to the left */
    padding: 10px;
    /* Add padding for better spacing */
  }
  
  .tr-body:nth-child(odd) {
    background-color: #1B1D1E;
  }




@media (max-width: 576px) {
    h1 {
        color: #BEFF54;
        font-family: Manrope;
        font-size: 27px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        text-transform: uppercase;
        margin-top: 59px;
        padding: 1px 15px;
    }

    .description {
        color: #FBFBFB;
        text-align: center;
        font-family: Manrope;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin: 0px;
        padding: 24px;
    }

    .tabs {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .tabs div {
        display: flex;
        width: 82vw;
        text-align: center;
        margin: auto;
        height: 51px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 14px;
        background: #1b1d1e;
    }

    .tabs div p {
        color: #BEFF54;
        text-align: center;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
    }

    .package-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 35px;
        margin: 0px;
        margin-top: 30px;
        padding: 25px;
        height: auto;
    }

    element.style {
        transform: translateY(0px);
        opacity: 1;
        display: block;
        width: 707px;
        height: 435px;
        margin: 0px auto;
    }

    .package {
        background-color: #FBFBFB;
        width: 100vw !important; 
        height: auto;
        padding: 35px;
        border-radius: 15px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        position: relative;
        overflow: hidden;
    }

    .package h2 {
        color: #101011;
        font-family: Manrope;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .package ul li {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        color: var(--_, #101011);
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .price span {
        color: #BABCC0;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin-right: 10px;
    }

    .package .price {
        display: flex;
        color: #101011;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        margin: 0;
        flex-grow: 1;
        text-align: left;
        font-weight: bold;
        text-align: center;
        position: relative;
    }

    .button-view {
        display: block;
        background-color: #141515;
        color: #BEFF54;
        text-align: center;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        border: none;
        border-radius: 50px;
        width: 120px;
        height: 40px;
        margin: 0px;
        cursor: pointer;
        transition: background-color 0.3s;
        position: relative;
    }

    .line {
        height: 1px;
        background-color: #BABCC0;
        margin: 20px 0;
    }


    .tr-body {
        line-height: 1;
      }
    
      .tr-body:first-child {
        font-size: 12px;
      }
    
      .feature-service {
        padding: 20px 5px;
      }

      .modal-section div{
        padding: 0;
      }
    
      .head-div h3 {
        font-size: 15px;
      }

      .button-get-started {
        display: none;
      }

      .first-heading-text {
        margin: 0px;
    }
    .feature-service-table td:first-child {
        padding: 18px;
    }

    .section-heading {
        color: #282A2C;
        text-align: center;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 116.667% */
        text-transform: uppercase;       
    }

}
