body {
    margin: 0;
    padding: 0;
    background-color: #141515;
    font-family: 'Manrope', sans-serif;
}

.works-section {
    margin-left: 60px;  /* Left margin for the works section */
    margin-top: 65px;  /* Margin from the page header to the works title */
}

.works-title {
    color: #BEFF54;
    font-family: 'Manrope', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 107.143% */
    text-transform: uppercase;
    margin: 0;  /* to remove default margins of h2 */
    padding: 0;  /* to remove default paddings of h2 */
}

.works-textbox {
    margin-top: 32px;
    width: 587px;
    color: #FBFBFB;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}






.tabs {
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    margin: 25px 60px 0 60px;
    margin-top: 88px;
    border-radius: 12px;
    background: #1B1D1E;
}

.tabs div {
    display: flex;
    width: 650px;
    height: 62px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background: #1B1D1E; /* Изначальный темный фон */
    cursor: pointer;
    transition: background-color 0.3s;
}

.tabs div p {
    color: #BEFF54; /* Зеленый текст */
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.tabs div.active-tab {
    background-color: #BEFF54; /* Зеленый фон для активного div */
}

.tabs div.active-tab p {
    color: #000504; /* Черный текст для активного div */
}

.tabs div:hover {
    transform: scale(1.02);  /* Увеличение на 5% */
}



.works-packages {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 66px;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: center;
}

.work-package {
    background-color: #1B1D1E;
    width: 650px;
    height: 488px;
    flex-shrink: 0;
    border-radius: 20px;
}


.work-package {
    transition: transform 0.5s, opacity 0.5s;
    transform: translateY(100%); /* Начальное положение */
    opacity: 0; /* Начальная прозрачность */
    will-change: transform, opacity;
}

.work-package.active-package {
    transform: translateY(0); /* Конечное положение */
    opacity: 1; /* Конечная прозрачность */
}



.content-works {
    background: #FBFBFB;
    border-radius: 20px;
    width: 650px;
    height: 365px;
    overflow: hidden; /* This ensures that any child content also gets clipped to the container's rounded corners */
    position: relative;
}

.content-works .image-example {
    width: 100%; /* Sets image width to cover the container's width */
    height: 100%; /* Sets image height to cover the container's height */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border-radius: 20px; /* Apply rounded corners to the image */
    position: absolute; /* Positions the image absolutely within the container */
    top: 0;
    left: 0;
}

.name-example {
    color: #FBFBFB;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    padding-left: 15px;
}

.link-example {
    display: flex;
    color: #BEFF54;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
    align-items: center;
    text-decoration: none;
    padding-bottom: 11px;
    padding-left: 17px;
    padding-bottom: 11px;
}

.link-example span {
    padding-right: 7px;
}

.link-example img {
    height: 20px;
    width: 20px;
}

/* gallary */

/* Стили для модального окна */
.modal {
    display: none; /* Скрыть модальное окно по умолчанию */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9); /* Черный с небольшой прозрачностью */
    z-index: 1005;
}

/* Стили для изображения в модальном окне */
.modal-content {
    margin: auto;
    display: block;
    width: 70%;
    border-radius: 20px;
    top: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Стили для стрелок навигации */
.prev,
.next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Позиционирование стрелки "назад" */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Позиционирование стрелки "вперед" */
.next {
    right: 0;
    border-radius: 3px 3px 0 0;
}








@media (max-width: 576px) { 
    .works-section {
        margin-left: 0px;
        margin-top: 44px;
        padding: 15px 25px;
    }

    .works-title {
        color: #BEFF54;
        font-family: 'Manrope', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }

    .works-textbox {
        margin-top: 32px;
        width: auto;
        color: #5A5F62;
        font-family: 'Manrope', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
    }
    

    .tabs {
        display: flex;
        padding: 4px;
        justify-content: center;
        align-items: flex-start;
        gap: 6px;
        margin: 25px 60px 0 60px;
        margin-top: 88px;
        border-radius: 12px;
        background: #1B1D1E;
    }

    .tabs div {
        display: flex;
        width: 98%;
        height: 52px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 10px;
        background: #1B1D1E;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .tabs {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        margin: 25px 20px;
        margin-top: 48px;
        border-radius: 12px;
        background: #1B1D1E;
        flex-direction: column;
        align-content: center;
    }

    .tabs div p {
        color: #BEFF54;
        text-align: center;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    .tabs div.active-tab p {
        color: #000504; /* Черный текст для активного div */
        font-weight: 600;
    }

    .works-packages {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 50px;
        margin-bottom: 80px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .work-package {
        background-color: #1B1D1E;
        width: 100%;
        height: auto;
        flex-shrink: 0;
        border-radius: 20px;
    }

    /* .content-works {
        background: #FBFBFB;
        border-radius: 20px;
        width: 100%;
        height: 207px;
    }

    .image-example {
        width: 100%;
        height: 100%;
        object-fit: contain; 
        object-position: center;
    } */

    .content-works {
        background: #FBFBFB;
        border-radius: 20px; /* This applies rounded corners to the container */
        overflow: hidden; /* This ensures that any child content also gets clipped to the container's rounded corners */
        width: 100%; /* Container width */
        height: 207px; /* Container height */
        position: relative; /* Establishes a containing block for absolutely positioned elements */
    }
    
    .content-works .image-example {
        width: 100%; /* Sets image width to cover the container's width */
        height: 100%; /* Sets image height to cover the container's height */
        object-fit: cover; /* Ensures the image covers the area without distortion */
        border-radius: 20px; /* Apply rounded corners to the image */
        position: absolute; /* Positions the image absolutely within the container */
        top: 0;
        left: 0;
    }

    .name-example {
        color: #FBFBFB;
        font-family: Manrope;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 16.689px;
        padding-left: 15px;
    }

    .link-example {
        color: #BEFF54;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 15.646px;
        padding-left: 17px;
        display: flex; /* Для выравнивания текста и SVG */
        align-items: center; /* Центрирование SVG по вертикали */
        text-decoration: none;
        padding-bottom: 11px;
    }
    
    .link-example span {
        padding-right: 4px;
    }


}