body {
    margin: 0;
    padding: 0;
    background-color: #141515;
    font-family: 'Manrope', sans-serif;
}

.works-section {
    margin-left: 60px;  /* Left margin for the works section */
    margin-top: 65px;  /* Margin from the page header to the works title */
}

.works-title {
    color: #BEFF54;
    font-family: 'Manrope', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 107.143% */
    text-transform: uppercase;
    margin: 0;  /* to remove default margins of h2 */
    padding: 0;  /* to remove default paddings of h2 */
}

.works-textbox {
    margin-top: 32px;
    width: 587px;
    color: #FBFBFB;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}






.tabs {
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    margin: 25px 60px 0 60px;
    margin-top: 88px;
    border-radius: 12px;
    background: #1B1D1E;
}

.tabs div {
    display: flex;
    width: 650px;
    height: 62px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background: #1B1D1E; /* Изначальный темный фон */
    cursor: pointer;
    transition: background-color 0.3s;
}

.tabs div p {
    color: #BEFF54; /* Зеленый текст */
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.tabs div.active-tab {
    background-color: #C5FF68; /* Зеленый фон для активного div */
}

.tabs div.active-tab p {
    color: #000504; /* Черный текст для активного div */
}

.tabs div:hover {
    transform: scale(1.02);  /* Увеличение на 5% */
}



.works-packages {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 66px;
    margin-bottom: 455px;
    margin-left: 60px;
    margin-right: 60px;
}

.work-package {
    width: 650px;
    height: 480px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--, #1B1D1E);
}


.work-package {
    transition: transform 0.5s, opacity 0.5s;
    transform: translateY(100%); /* Updated from -100% to 100% */
    opacity: 0;
    will-change: transform, opacity;
}

.work-package.active-package {
    transform: translateY(0);
    opacity: 1;
}



.content-works {
    background: #FBFBFB;
    border-radius: 20px;
    width: 650px;
    height: 365px;
}

.name-example {
    color: var(--_, #FBFBFB);
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
}

.link-example {
    color: var(--_, #BEFF54);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}



@media (max-width: 576px) { 
    .works-section {
        margin-left: 0px;
        margin-top: 44px;
        padding: 15px 25px;
    }

    .works-title {
        color: #BEFF54;
        font-family: 'Manrope', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }

    .works-textbox {
        margin-top: 32px;
        width: auto;
        color: #5A5F62;
        font-family: 'Manrope', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
    }
    

    .tabs {
        display: flex;
        padding: 4px;
        justify-content: center;
        align-items: flex-start;
        gap: 6px;
        margin: 25px 60px 0 60px;
        margin-top: 88px;
        border-radius: 12px;
        background: #1B1D1E;
    }

    .tabs div {
        display: flex;
        width: 95%;
        height: 52px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 10px;
        background: #1B1D1E;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .tabs {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        margin: 25px 20px;
        margin-top: 48px;
        border-radius: 12px;
        background: #1B1D1E;
        flex-direction: column;
        align-content: center;
    }

    .tabs div p {
        color: #BEFF54;
        text-align: center;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
    }

    .works-packages {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 50px;
        margin-bottom: 80px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .work-package {
        background-color: #1B1D1E;
        width: 100%;
        height: auto;
        flex-shrink: 0;
        border-radius: 20px;
    }

    .content-works {
        background: #FBFBFB;
        border-radius: 20px;
        width: 100%;
        height: 207px;
    }

    .name-example {
        color: #FBFBFB;
        font-family: Manrope;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 16.689px;
        padding-left: 15px;
    }

    .link-example {
        color: #BEFF54;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 15.646px;
        padding-left: 17px;
    }



}